.navbar {
    .navbar-brand{
        font-size: $heading-4-size;
        color: $black-color;

        span {
            color:  $blue-color;
        }
    }

    .navbar-nav{
        .navbar-right{
            text-align: right;
        }

        .nav-item {
            .nav-link {
                color: $black-color; 
                font-size: $body-3-size;
                font-weight: 500;

                &.active {
                    color: $blue-color;
                    text-decoration: underline;
                    font-style: bold;
                }

                &.hover {
                    color: $orange-color;
                }
            }
        }
    }
}